<thead>
  <tr>
    <th width="25%" style="text-align: center;">Fees</th>
    <th width="25%" style="text-align: center;">Actual</th>
    <th width="25%" style="text-align: center;">Amount with Concession</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td style="text-align: center;"><%= fees_head.name %></td>
    <td style="text-align: center;"><%= fees_head.amount %></td>
    <% @receipt.receipts_fees_heads.each do |fees| %>
      <td style="text-align: center;"><%= fees.total_amount %></td>
    <% end %>
  </tr>
</tbody>
