<thead>
  <tr>
    <th width="25%" style="text-align: center;">Fees</th>
    <th width="25%" style="text-align: center;">Actual</th>
    <th width="25%" style="text-align: center;">Amount with Concession</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= @fees_head.name %></td>
    <td><%= @fees_head.amount %></td>
    <td><%= @fees_head.concession %></td>
  </tr>
</tbody>