<tbody>
  <tr>
    <td style="text-align: center;"><%= fees_head.name %></td>
    <td style="text-align: center;"><%= number_with_precision(fees_head.amount, separator: ',', delimiter: '.') %></td>
  </tr>
</tbody>
