<tbody>
  <tr>
    <td style="text-align: center;"><%= receipts_fees_head.fees_head.name %></td>
    <td style="text-align: center;"><%= number_with_precision(receipts_fees_head.amount, precision: 0, separator: ',', delimiter: '.') %></td>
  </tr>
</tbody>
