<div class="icon example">
	<div class="ui three column grid">
		<div class="column">
			<i style='font-size: 5em' onclick="window.location = '<%= user_omniauth_authorize_path(:facebook) %>'" class="facebook sign icon"></i>
		</div>
		<div class="column">
			<i style='font-size: 5em' onclick="window.location = '<%= user_omniauth_authorize_path(:google_oauth2) %>'" class="google plus sign icon"></i>
		</div>
		<div class="column">
			<i style='font-size: 5em' onclick="window.location = '<%= user_omniauth_authorize_path(:linkedin) %>'" class="linkedin sign icon"></i>
		</div>
	</div>
</div>
