<div class="panel panel-default" ng-controller="DeleteStudentsController">
  <div class="panel-heading">Delete Entry</div>
    <div class="panel panel-default student-list">
      <div class="alert-message">
        <div class="alert alert-success" role="alert" ng-show="alert">You successfully removed the student.</div>
      </div>
      <div class="panel-body scrolling">
        <table class="table table-bordered scrolling">
          <tbody>
            <tr ng-repeat='student in students'>
              <th scope="row" width="5%">{{student.id}}</th>
              <td>
                <a href="" ng-click="deleting(students[$index])">{{student.firstName}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="ui buttons padding">
      <button type="submit" class="btn btn-default" ng-click="remove()" ng-disabled="clicked">Delete Student</button>
    </div>
  </div>
</div>
