<div class="panel panel-default">
  <div class="panel-heading">Daily Item Usage for Mid Day Meal</div>
  <div class="panel-body" ng-controller='CreateMonthlyRecordsController'>
    <form name='form' ng-controller='CreateMonthlyRecordsController' class="form-horizontal">
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully added a new monthly govt records.</div>
      <div class="col-sm-12">
        <!-- First Column -->
        <div class="col-sm-6">
          <months ng-model='monthly_record.month' title='Month'></months>

          <div class="form-group">
            <div class="col-sm-4">
              <label for='meals_made' class="control-label">Meals Made:</label>
            </div>
            <div class="col-sm-6">
              <table class="table meals">
                <thead>
                  <tr>
                    <th class="center">I</th>
                    <th class="center">II</th>
                    <th class="center">III</th>
                    <th class="center">IV</th>
                    <th class="center">V</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="center">{{total1()}}</td>
                    <td class="center">{{total2()}}</td>
                    <td class="center">{{total3()}}</td>
                    <td class="center">{{total4()}}</td>
                    <td class="center">{{total5()}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class=col-sm-10>
            <table class="table meals" id="meals_made">
              <thead>
                <tr>
                  <th class="center">Item Name</th>
                  <th class="center" width="10%">Left</th>
                  <th class="center" width="20%">Last Received</th>
                  <th class="center" width="10%">Used</th>
                  <th class="center" width="15%">Ordered</th>
                  <th class="center" width="20%">Received this month</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="center">
                    <select name='monthly_record.item_name' ng-model='monthly_record.item_name' class="form-control">
                      <option ng-repeat="daily in daily_meals">{{daily.meal}}</option>
                    </select>
                  </td>
                  <td class="center">50</td>
                  <td class="center">100</td>
                  <td class="center">50</td>
                  <td class="center">
                    <input name='monthly_record.ordered' type='text' ng-model='monthly_record.ordered' class="form-control" />
                  </td>
                  <td class="center">
                    <input name='monthly_record.received' type='text' ng-model='monthly_record.received' class="form-control" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </form>

      <br />
      <form name='form'  class="form-horizontal" ng-submit='create()'>
        <div class="panel panel-default">
          <div class="panel-body scrolling">
            <table id='objects-list' class="table scrolling">
              <thead>
                <tr>
                  <th>Item Name</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="monthly_record in monthly_records">
                  <td>{{monthly_record.itemName}}</td>
                </tr>
              </tbody>
            </table>
            <!--
            <pagination total-items='employees.length' ng-model='currentPage' items-per-page='itemsPerPage' max-size="5" data-previous-text="&laquo;" data-next-text="&raquo;">
            </pagination>
            -->
          </div>
        </div>

        <div class="form-group">
          <table class="table">
            <tbody>
              <tr>
                <td width="27%">Expense made towards: Fuel and Vegetables</td>
                <td>
                  <input name='midday_meal.vegetable' type='text' ng-model='midday_meal.vegetable' class="form-control" />
                </td>
                <td width="12%">Cooks and helpers</td>
                <td>
                  <input name='midday_meal.cook' type='text' ng-model='midday_meal.cook' class="form-control" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group ui buttons">
          <div class=" col-sm-12">
            <button type="submit" class="btn btn-default" ng-disabled='form.$invalid'>Save</button>
            <a ng-click="reset()" class="btn btn-default">Reset</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
