<div id='home-container' class="ui page grid">
  <div class="ui stackable grid">

    <div class="two column row" style='position: relative; '>
      <div class="column">
        <div class="ui blue inverted segment">
          <p>Have you heard about our community meetups?</p>
          <p>We are trying to create the community for making the better breath for our Earth! Everyone can be the part of the changes.</p>
        </div>
      </div>

      <div class="column">
        <div class="ui green inverted segment">
          <p>Choose a location to make it natural placing the trees what you want.</p>
          <p>Start from yourself, place a tree badge. The event organizer will use this money together with community for creating the events.</p>
        </div>
      </div>
    </div>

    <div class="ui horizontal divider">
      <i class="circular globe icon" style='font-size: 3em'></i>
    </div>

  </div>
</div>


<div class="ui horizontal" style='position: absolute'>
  <i class="down icon" style='font-size: 2em;'></i><span style='margin-left: 5px;'>click to place marker here</span>
</div>

<div class="stripe" ng-controller='HomeController' data-projects="<%= projects_json(@projects) %>">
  <es-google-map options='google.settings' refresh='google.refresh' extra='google.extra' styles='google.styles' style='height: 30rem;display:block;'></es-google-map>
</div>

