<div class="panel panel-default">
  <div class="panel-heading">Daily Item Usage for Mid Day Meal</div>
  <div class="panel-body">
    <form name='form' ng-controller='CreateDailyMealController' class="form-horizontal" ng-submit='create()'>
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully added a new daily meal.</div>
      <div class="col-sm-12">
        <!-- First Column -->
        <div class="col-sm-6">
          <div class="form-group">
            <div class="col-sm-4">
              <label for='midday_meal.month' class="control-label">Month</label>
            </div>
            <div class="col-sm-6">
              <select name='midday_meal.month' ng-model='midday_meal.month' class="form-control">
                <option ng-repeat="month in months">{{month}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <label for='meals_made' class="control-label">Meals Made:</label>
            </div>
            <div class="col-sm-6">
              <table class="table meals">
                <thead>
                  <tr>
                    <th class="center">I-V</th>
                    <th class="center">VI-VIII</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="center">500</td>
                    <td class="center">500</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class=col-sm-10>
            <table class="table meals" id="meals_made">
              <thead>
                <tr>
                  <th class="center">Item Name</th>
                  <th class="center" width="10%">Left</th>
                  <th class="center" width="20%">Last Received</th>
                  <th class="center" width="10%">Used</th>
                  <th class="center" width="15%">Ordered</th>
                  <th class="center" width="20%">Received this month</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="center">
                    <select name='midday_meal.item_name' ng-model='midday_meal.item_name' class="form-control">
                      <option value="1">LOrem</option>
                      <option value="2">Ipsum</option>
                    </select>
                  </td>
                  <td class="center">50</td>
                  <td class="center">100</td>
                  <td class="center">50</td>
                  <td class="center">
                    <input name='midday_meal.ordered' type='text' ng-model='midday_meal.ordered' class="form-control" />
                  </td>
                  <td class="center">
                    <input name='midday_meal.received' type='text' ng-model='midday_meal.received' class="form-control" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-2">
            <a class="btn btn-default btn-lg">Add</a>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body scrolling">
            <table id='objects-list' class="table scrolling">
              <thead>
                <tr>
                  <th>Item Name</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td>kdfiu</td>
                </tr>
              </tbody>
            </table>
            <pagination total-items='employees.length' ng-model='currentPage' items-per-page='itemsPerPage' max-size="5" data-previous-text="&laquo;" data-next-text="&raquo;">
            </pagination>
          </div>
        </div>

        <div class="form-group">
          <table class="table">
            <tbody>
              <tr>
                <td width="27%">Expense made towards: Fuel and Vegetables</td>
                <td>
                  <input name='midday_meal.vegetable' type='text' ng-model='midday_meal.vegetable' class="form-control" />
                </td>
                <td width="12%">Cooks and helpers</td>
                <td>
                  <input name='midday_meal.cook' type='text' ng-model='midday_meal.cook' class="form-control" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group ui buttons">
          <div class=" col-sm-12">
            <button type="submit" class="btn btn-default" ng-disabled='form.$invalid'>Save</button>
            <button type="submit" class="btn btn-default" ng-disabled='form.$invalid'>Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
