<div ng-controller='SettlementsController' ui-view='settlements'>
  <div class="text-bottom">
    <h1>Cash Flow Management</h1>
  </div>

  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" ui-sref-active="active">
      <a ui-sref="settlements.new">Daily Settlement</a>
    </li>
    <li role="presentation" ui-sref-active="active">
      <a ui-sref="#">Create Expense Voucher</a>
    </li>
    <li role="presentation" ui-sref-active="active">
      <a ui-sref="#">Create Salary Voucher</a>
    </li>
  </ul>


  <div ui-view></div>
</div>
