<div class="panel panel-default" ng-controller="DeleteEmployeesController">
  <div class="panel-heading">Delete Entry</div>
    <div class="alert-message">
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully removed the employee.</div>
    </div>
    <div class="panel panel-default employee-list">
      <div class="panel-body scrolling">
        <table class="table table-bordered scrolling">
          <tbody>
            <tr ng-repeat='employee in employees | offset:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage'>
              <th scope="row" width="5%">{{employee.id}}</th>
              <td>
                <a href="" ng-click="deleting(employees[$index + (currentPage - 1) * itemsPerPage])">{{employee.firstName}}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination total-items='employees.length' ng-model='currentPage' items-per-page='itemsPerPage' max-size="5" data-previous-text="&laquo;" data-next-text="&raquo;">
        </pagination>
      </div>
    </div>

    <div class="ui buttons padding">
      <button type="submit" class="btn btn-default" ng-click="remove()" ng-disabled="clicked">Delete Employee</button>
    </div>
  </div>
</div>
