<div class="panel panel-default" ng-controller="DeleteEmployeesController">
  <div class="panel-heading">Delete Entry</div>
    <div class="alert-message">
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully removed the employee.</div>
    </div>
    <div class="panel panel-default employee-list">
      <div class="panel-body scrolling">
        <table class="table table-bordered scrolling">
          <tbody>
            <tr ng-repeat='employee in employees | offset: currentPage*itemsPerPage | limitTo: itemsPerPage'>
              <th scope="row" width="5%">{{employee.id}}</th>
              <td>
                <a href="" ng-click="deleting(employees[$index])">{{employee.firstName}}</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="3">
              <div class="pagination">
                <ul>
                  <li ng-class="prevPageDisabled()">
                    <a href ng-click="prevPage()">« Prev</a>
                  </li>
                  <li ng-repeat="n in range()"
                    ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                    <a href="#">{{n+1}}</a>
                  </li>
                  <li ng-class="nextPageDisabled()">
                    <a href ng-click="nextPage()">Next »</a>
                  </li>
                </ul>
              </div>
            </td>
          </tfoot>
        </table>
      </div>
    </div>

    <div class="ui buttons padding">
      <button type="submit" class="btn btn-default" ng-click="remove()" ng-disabled="clicked">Delete Employee</button>
    </div>
  </div>
</div>
