<div class="panel panel-default">
  <div class="panel-heading">Delete Entry</div>
    <div class="panel panel-default employee-list">
      <div class="panel-body scrolling">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat='employee in employees'>
          <a href="#">
            {{employee.firstName}}
          </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="ui buttons padding">
      <button type="submit" class="btn btn-default">Delete Employee</button>
    </div>
  </div>
</div>
