<div class="panel panel-default" ng-controller='UpdateEmployeesController'>
  <div class="panel-heading">Update Existing Entry</div>
    <div class="panel panel-default employee-list">
      <div class="panel-body scrolling">
        <table class="table table-bordered scrolling">
          <tbody>
            <tr ng-repeat='employee in employees'>
              <th scope="row" width="5%">{{employee.id}}</th>
              <td>
                <a href="#" ng-click="editing(employees[$index])" ng-model="clicked">{{employee.firstName}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default update-employee" ng-hide="clicked">
      <div class="panel-body alignment">
        <button type="submit" class="btn btn-default">All Fields From Add New Record</button>
      </div>
    </div>
    <form name='form' class="form-horizontal update" ng-submit='update(employees[$index])' ng-show="show_form">

      <div class="panel panel-default update-employee">
        <div class="update_form">
          <div class="alert alert-success" role="alert" ng-show="alert">You successfully updated an employee.</div>
          <div class="col-sm-12">
            <!-- Firs column -->
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.entry_no' class="control-label">Entry #</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.entry_no' type='text' ng-model='currentUser.entryNo' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.first_name' class="control-label">First Name</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.first_name' type='text' ng-model='currentUser.firstName' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-5">
                  <label for='currentUser.middle_name' class="control-label">Father's/Spouses Name</label>
                </div>
                <div class="col-sm-5">
                  <input name='currentUser.middle_name' type='text' ng-model='currentUser.middleName' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.last_name' class="control-label">Last Name</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.last_name' type='text' ng-model='currentUser.lastName' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.datetime' class="control-label">Date of birth</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.datetime' ng-model='currentUser.datetime' class="form-control" ui-date/>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.gender' class="control-label">Gender</label>
                </div>
                <div class="col-sm-6">
                  <label for='currentUser.gender' class="radio-inline">
                    <input type="radio" name="currentUser.gender" value="male" ng-model="currentUser.gender">Male
                  </label>
                  <label for='currentUser.gender' class="radio-inline">
                    <input type="radio" name="currentUser.gender" value="female" ng-model="currentUser.gender">Female
                  </label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">  
                  <label for='currentUser.marital_status' class="control-label">Marital Status</label>
                </div>
                <div class="col-sm-6">
                  <select name='currentUser.marital_status' ng-model='currentUser.maritalStatus' class="form-control">
                    <option value="1">Married</option>
                    <option value="2">Not Married</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label">Year of Joining</label>
                </div>
                <div class="col-sm-6">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label">Paid type</label>
                </div>
                <div class="col-sm-6">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- End First Column -->

            <!-- Second Column -->
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.address' class="control-label">Address</label>
                </div>
                <div class="col-sm-6">
                  <textarea name="currentUser.address" ng-model="currentUser.address" class="form-control"></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.contact_no' class="control-label">Contact #</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.contact_no' type='text' ng-model='currentUser.contactNo' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.qualification' class="control-label">Qualification</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.qualification' type='text' ng-model='currentUser.qualification' class="form-control" />
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label">Section</label>
                </div>
                <div class="col-sm-6">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label class="control-label">Pay Band</label>
                </div>
                <div class="col-sm-6">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-4">
                  <label for='currentUser.salary' class="control-label">Salary</label>
                </div>
                <div class="col-sm-6">
                  <input name='currentUser.salary' type='text' ng-model='currentUser.salary' class="form-control" />
                </div>
              </div>
            </div>
            <!-- End Second Column -->
          </div>
        </div>
      </div>
      <div class="ui buttons padding">
        <button type="submit" class="btn btn-default">&lt;&lt; Previous Record</button>
        <button type="submit" class="btn btn-default">Save and Continue</button>
        <button type="submit" class="btn btn-default">Next Record &gt;&gt;</button>
      </div>
    </form>
    <div class="ui buttons padding" ng-hide="clicked">
      <button type="submit" class="btn btn-default">&lt;&lt; Previous Record</button>
      <button type="submit" class="btn btn-default">Save and Continue</button>
      <button type="submit" class="btn btn-default">Next Record &gt;&gt;</button>
    </div>
  </div>
</div>
