<div class="panel panel-default">
  <div class="panel-heading">Update Existing Entry</div>
    <div class="panel panel-default employee-list">
      <div class="panel-body scrolling">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat='employee in employees'>{{employee.firstName}}</li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default update-employee">
      <div class="panel-body alignment">
        <h4 style="text-align: center; vertical-align:middle">All Fields From Add New Record</h4>
      </div>
    </div>
    <div class="ui buttons padding">
      <button type="submit" class="btn btn-default"><< Previous Record</button>
      <button type="submit" class="btn btn-default">Save and Continue</button>
      <button type="submit" class="btn btn-default">Next Record >></button>
    </div>
  </div>
</div>
