<div class="panel panel-default">
  <div class="panel-heading">New Employee Entry</div>
  <div class="panel-body">
    <form name='form' ng-controller='CreateEmployeesController' class="form-horizontal" ng-submit='create()'>
      <div class="col-sm-12">
        <div class="form-group">
          <label for='employee.entry_no' class="col-sm-2 control-label">Entry #</label>
          <div class="col-sm-3">
            <input name='employee.entry_no' type='text' ng-model='employee.entry_no' class="form-control" />
          </div>
          <label for='employee.address' class="col-sm-2 control-label">Address</label>
          <div class="col-sm-3">
            <textarea name='employee.address' rows="3" cols="3" ng-model='employee.address' class="form-control" /></textarea>
          </div>
        </div>

        <div class="form-group">
          <label for='employee.first_name' class="col-sm-2 control-label">First Name</label>
          <div class="col-sm-3">
            <input name='employee.first_name' type='text' ng-model='employee.first_name' class="form-control" />
          </div>
          <label for='employee.contact_no' class="col-sm-2 control-label">Contact #</label>
          <div class="col-sm-3">
            <input name='employee.contact_no' type='text' ng-model='employee.contact_no' class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label for='employee.middle_name' class="col-sm-2 control-label">Father's / Spouses Name</label>
          <div class="col-sm-3">
            <input name='employee.middle_name' type='text' ng-model='employee.middle_name' class="form-control" />
          </div>
          <label for='employee.qualification' class="col-sm-2 control-label">Qualification</label>
          <div class="col-sm-3">
            <input name='employee.qualification' type='text' ng-model='employee.qualification' class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label for='employee.last_name' class="col-sm-2 control-label">Last Name</label>
          <div class="col-sm-3">
            <input name='employee.last_name' type='text' ng-model='employee.last_name' class="form-control" />
          </div>
          <label for='' class="col-sm-2 control-label">Section</label>
          <div class="col-sm-3">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for='' class="col-sm-2 control-label">Date of Birth</label>
          <div class="col-sm-3">
            <input name='' type='text' ng-model='' class="form-control" />
          </div>
          <label for='' class="col-sm-2 control-label">Pay Band</label>
          <div class="col-sm-3">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>

        <div class="form-group radio_button">
          <label for='employee.gender' class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male">Male
          </label>
          <label for='employee.gender' class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="female">Female
          </label>
        </div>
        <div class="form-group">
          <label for='employee.marital_status' class="col-sm-2 control-label">Marital Status</label>
          <div class="col-sm-3">
            <select name='employee.marital_status' ng-model='employee.marital_status' class="form-control">
              <option value="1">Married</option>
              <option value="2">Not Married</option>
            </select>
          </div>
          <label for='employee.salary' class="col-sm-2 control-label">Salary</label>
          <div class="col-sm-3">
            <input name='employee.salary' type='text' ng-model='employee.salary' class="form-control" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Year of Joining</label>
          <div class="col-sm-3">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Paid type</label>
          <div class="col-sm-3">
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>

        <div class="ui buttons">
          <button type="submit" class="btn btn-default">Save and Continue</button>
        </div>
      <div>
    </form>
  </div>
</div>
