<div class="panel panel-default">
  <div class="panel-heading">Setting up Fees Head</div>
  <div class="panel-body">
    <form name='form' ng-controller='CreateFeesHeadsController' class="form-horizontal" ng-submit='create()'>
      <div class="alert alert-success" role="alert" ng-show="alert">You successfully added a new fees.</div>
      <div class="col-sm-12">
        <!-- First Column -->
        <div class="col-sm-6">
          <div class="form-group">
            <div class="col-sm-4">
              <label for='fees_head.name' class="control-label">Name of Fees</label>
            </div>
            <div class="col-sm-6">
              <input name='fees_head.name' type='text' ng-model='fees_head.name' class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <label for='fees_head.type' class="control-label">Type</label>
            </div>
            <div class="col-sm-6">
              <select name='fees_head.type' ng-model='fees_head.type' class="form-control">
                <!-- <option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option> -->
              </select>
            </div>
            <!-- <div class="col-sm-2">
              <a href="" class="btn btn-default" ng-click="openForm('sm')" ng-controller="CreateTypesController">+</a>
            </div> -->
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <label for='fees_head.amount' class="control-label">Amount</label>
            </div>
            <div class="col-sm-6">
              <input name='fees_head.amount' type='text' ng-model='fees_head.amount' class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-4">
              <label for='fees_head.recurrence' class="control-label">Type</label>
            </div>
            <div class="col-sm-6">
              <select name='fees_head.recurrence' ng-model='fees_head.recurrence' class="form-control">
                <!-- <option ng-repeat="recurrence in recurrences" value="{{recurrence.id}}">{{recurrence.name}}</option> -->
              </select>
            </div>
            <!-- <div class="col-sm-2">
              <a href="" class="btn btn-default" ng-click="openForm('sm')" ng-controller="CreateRecurrencesController">+</a>
            </div> -->
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body scrolling" style="height: 250px">
              <table class="table">
                <thead>
                  <tr>
                    <th>Fees Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat='fees_head in fees_heads'>
                    <td>{{fees_head.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- End First Column -->

      <div class="form-group ui buttons">
        <div class=" col-sm-12">
          <button type="submit" class="btn btn-default" ng-disabled='form.$invalid'>SAVE </button>
        </div>
      </div>
    </form>
  </div>
</div>
