<div class="home" ng-controller="HomeController">
  <div class="row" ng-controller="GetTotalController">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table">
              <thead>
               
              </thead>
              <tbody>
                <tr>
                  <td style="border-top: none;">Total Female Students</td>
                  <td style="border-top: none;">{{getTotalFemale()}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Male Students</td>
                  <td style="border-top: none;">{{getTotalMale()}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Students</td>
                  <td style="border-top: none;">{{students.length}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Teaching Staff</td>
                  <td style="border-top: none;">{{employees.length}}</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Non-teaching Staff</td>
                  <td style="border-top: none;">10</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Teachers on Govt. Pay</td>
                  <td style="border-top: none;">25</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table">
              <thead>
               
              </thead>
              <tbody>
                <tr>
                  <td style="border-top: none;">Today's Fees Collection</td>
                  <td style="border-top: none;">Rs. 500</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Fees Collected this Month</td>
                  <td style="border-top: none;">Rs. 5000</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Fees Collected last month</td>
                  <td style="border-top: none;">Rs. 3000</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Fees Outstanding</td>
                  <td style="border-top: none;">Rs. 25000</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Non-teaching Staff</td>
                  <td style="border-top: none;">10</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Teachers on Govt. Pay</td>
                  <td style="border-top: none;">25</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table">
              <thead>
               
              </thead>
              <tbody>
                <tr>
                  <td style="border-top: none;">Today's Expenses</td>
                  <td style="border-top: none;">Rs. 50</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Total Expense this month</td>
                  <td style="border-top: none;">Rs. 500</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Salary Expenses last month</td>
                  <td style="border-top: none;">Rs. 30000</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Yesterday's closing balance</td>
                  <td style="border-top: none;">Rs. 250</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <table class="table">
              <thead>
               
              </thead>
              <tbody>
                <tr>
                  <td style="border-top: none;">Food plates made</td>
                  <td style="border-top: none;">500</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Food Made</td>
                  <td style="border-top: none;">Dal-Bhat</td>
                </tr>
                <tr>
                  <td style="border-top: none;">Critical Stock</td>
                  <td style="border-top: none;">Rice</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
