.divider {
  margin-top: 100px;
}
.btn.btn-success.right {
  float: right;
}
.form-group.radio_button {
  width: 70%;
  margin: 20px auto;
  padding: 0px;
}
.ui.buttons {
  text-align: center;
}
.text-bottom {
  text-align: center;
  margin-bottom: 60px;
}
.panel.panel-default {
  border-radius: 0px;
}
.nav-tabs.nav-justified > li > a {
  border-bottom: none;
  border-radius: 0 0 0 0;
}
.nav-tabs.nav-justified > li > a:hover {
  background: #fff;
}
.btn.btn-default {
  border-radius: 0px;
}