<div class="ui test modal transition hidden" ng-controller='MarkersController'>
  <i class="close icon"></i>
  <div class="header">Add new marker to this area</div>
  <div class="content">
    <div class="ui form segment">
      <div class="field">
        <label>Title</label>
        <div class="ui left labeled icon input">
          <input type="text" name='title' ng-model='title' placeholder="Title" ng-required='true'>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>

      <div class="field">
        <label>Description</label>
        <div class="ui left labeled icon input">
          <textarea type="text" name='description' ng-model='description' placeholder="Description" ng-required='true'></textarea>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>

      <div class="field">
        <label>Photo</label>
        <div class="ui left labeled icon input">
          <input type="file">
          <i class="lock icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="ui error message">
        <div class="header">We noticed some issues</div>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="ui black button">
      Cancel
    </div>
    <div class="ui green right labeled icon button" ng-class='{disabled:form.$invalid}' ng-click='submit()'>
      Submit
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>

