<%# <div class="vertically fitted borderless item">%>
<%#   <iframe src="http://ghbtns.com/github-btn.html?user=jlukic&repo=greenarea&type=watch&count=true"%>
<%#     allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>%>
<%# </div>%>

<a class="popup icon github item" title="View project on Github" href="https://github.com/rubyforce/greenarea">
  <i class="icon github"></i>
</a>
