
<ul class="nav navbar-nav">
 <li class="active"><a href="<%= authenticated_root_path %>">Home</a></li>
 <li><a href="<%= admin_employees_path %>">Employees</a></li>
 <li><a href="<%= admin_student_users_path %>"> Students</a></li>
</ul>
