<ul class="nav navbar-nav navbar-right">
  <% unless current_user.present? %>
    <li>
      <a class="sign-in fancybox.ajax" href="<%= new_user_session_path %>">Sign In</a>
    </li>
  <% else %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.name %><span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete)%></li>
      </ul>
    </li>
  <% end %>
</ul>
